:root {
    --primary-color: #757575;
    --secondary-color: #212121;
    --brand-color: #2196F3;
    --logo-primary-color: #000000;
    --logo-secondary-color: #FFFFFF;
    --address-footer-color: rgba(255, 255, 255, 0.6);
}